:root {
    --color-background-navbar1:#333376;
    --color-background-navbar2:#160E44;
    --color-background-button:#FDB813;
    --color-background-footer:#0A0816;
    --color-background-html:#E5E5E5;;
  }

  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html, body{
    background-color: var(--color-background-html);
  }
  #app{
    background-color: var(--color-background-html);
  }